<div class="input-group" style="width: 100%;">
    <input type="text" class="form-control" placeholder="Value" style="width: 75%;" ng-model="$ctrl.value.text" ng-change="$ctrl.update()">
    <select class="form-control" style="width: 25%;" ng-options="color.value as color.name for color in $ctrl.colors" ng-model="$ctrl.value.color" ng-change="$ctrl.update()"></select>
</div>
<form class="form-inline">
    <label class="form-group">
        <input type="checkbox" class="form-control" ng-model="$ctrl.value.bold" ng-change="$ctrl.update()"> Bold
    </label>
    <label class="form-group">
        <input type="checkbox" class="form-control" ng-model="$ctrl.value.italic" ng-change="$ctrl.update()"> Italic
    </label>
    <label class="form-group">
        <input type="checkbox" class="form-control" ng-model="$ctrl.value.underlined" ng-change="$ctrl.update()"> Underlined
    </label>
    <label class="form-group">
        <input type="checkbox" class="form-control" ng-model="$ctrl.value.strikethrough" ng-change="$ctrl.update()"> Strikethrough
    </label>
    <label class="form-group">
        <input type="checkbox" class="form-control" ng-model="$ctrl.value.obfuscated" ng-change="$ctrl.update()"> Obfuscated
    </label>
    <div class="form-group">
        <select class="form-control input-sm" ng-options="event.value as event.name for event in $ctrl.clickEvents" ng-model="$ctrl.value.clickEvent.action" ng-change="$ctrl.update()"></select>
    </div>
    <div class="form-group">
        <select class="form-control input-sm" ng-options="event.value as event.name for event in $ctrl.hoverEvents" ng-model="$ctrl.value.hoverEvent.action" ng-change="$ctrl.update()"></select>
    </div>
    <div class="form-group">
        <button type="button"  class="btn btn-primary btn-sm" ng-click="$ctrl.value.extra ? $ctrl.value.extra.push({}) : $ctrl.value.extra = [{}]">New child</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.onDelete({value: $ctrl.value})">Remove</button>
    </div>
</form>
<div class="input-group" ng-if="$ctrl.value.hoverEvent.action">
    <span class="input-group-addon">{{$ctrl.value.hoverEvent.action}}</span>
    <input type="text" class="form-control" ng-model="$ctrl.value.hoverEvent.value" ng-change="$ctrl.update()">
</div>
<div class="input-group" ng-if="$ctrl.value.clickEvent.action">
    <span class="input-group-addon">{{$ctrl.value.clickEvent.action}}</span>
    <input type="text" class="form-control" ng-model="$ctrl.value.clickEvent.value" ng-change="$ctrl.update()">
</div>
<div class="json-child">
    <div ng-repeat="extra in $ctrl.value.extra">
        <app-json-entry value="extra" on-update="$ctrl.update()" on-delete="$ctrl.onDeleteChild(value)"></app-json-entry>
    </div>
</div>